@model IEnumerable<BookShop.Models.AccountViewModel.UserViewModel>

@{
    ViewBag.Title = "Manage Users";
}

<div class="form-container fade-in">
    <div class="mb-3 d-flex justify-content-between">
        <div>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Back</a>
            <a asp-action="CreateUser" asp-controller="Admin" class="btn btn-primary">Add User</a>
        </div>
        <div>
            <a asp-controller="Admin" asp-action="BlockUserDetails" class="btn btn-danger">Blocked Users</a>
        </div>
    </div>
    
    <div>
        <h2>Active Users</h2>
</div>
    @if (Model!=null && Model.Any())
    {
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                @foreach (var usr in Model)
                {
                    <tr>
                        <td>@usr.Name</td>
                        <td>@usr.Email</td>
                        <td>@usr.Role</td>
                        <td>@usr.AddressLine</td>
                        <td>
                            <a asp-action="EditUser" asp-controller="Admin" asp-route-email="@usr.Email" class="btn btn-primary">Edit</a>
                            <a asp-action="DeleteUser" asp-controller="Admin" asp-route-email="@usr.Email" class="btn btn-primary">Delete</a>
                            <a asp-action="BlockUser" asp-controller="Admin" asp-route-email="@usr.Email" class="btn btn-danger">Block</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            No users found
        </div>
    }
   
</div>